.header__lang-links {
    display: flex;
    justify-content: end;
    position:absolute;
    top: 30px;
    right: 16px;
}

@media (min-width: 768px) {
    .header__lang-links {
        top: 46px;
        right: 24px;
    }
}

@media (min-width: 1024px) {
    .header__lang-links {
        top: 46px;
        right: 48px;
    }
}