.header__lang-links {
    padding-top: 14px;
    display: flex;
    justify-content: end;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .header__lang-links {
        padding-top: 18px;
    }
}
